---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="artilce_header">
    {% if page.image and page.image != "" %}
      <img src="{{ page.image | prepend: site.baseurl | replace: '//', '/' }}" alt="{{ page.title }}"/>
    {% endif %} 
    <h1 class="artilce_title" itemprop="name headline">{{ page.title }}</h1>
    {% if page.subtitle %}<h3>{{ page.subtitle }}</h3>{% endif %}
    <p class="artilce_meta">
      Published {% if page.author %}by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %} on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date_to_long_string  }}
      </time></p>  
  </header>

  <div class="article-content" itemprop="articleBody">
    {{ page.content }}
  </div>

  {% include series.html %}

  <footer class="article-footer">
    {% if page.tags %}
        <data data-icon="ei-tag"></data>   {% include post-tags.html %}
      {% endif %}
      {% if page.categories %}
      <data data-icon="ei-archive"></data> {{ page.categories | join: ", " }}
      {% endif %}
    <hr/>
  {% include share.html %}

  <hr/>

  {% include author.html %}

<hr/>

      {% if page.previous.url %}
      <div class="pagination older-post">
        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{page.previous.title}}"><data data-icon="ei-arrow-right"></data>Previous Entry</a>
      </div>
      {% endif %}
      {% if page.next.url %}
      <div class="pagination newer-post">
        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{page.next.title}}">Next Entry<data data-icon="ei-arrow-left"></data></a>
      </div>
      {% else %}
        <div class="pagination newer-post">&nbsp;</div>
      {% endif %}
  </footer>

  {% include dq.html %}

</article>
